In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "1adb4987",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \\\n",
      "0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98   \n",
      "1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84   \n",
      "2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07   \n",
      "3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23   \n",
      "4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35   \n",
      "\n",
      "      z  \n",
      "0  2.43  \n",
      "1  2.31  \n",
      "2  2.31  \n",
      "3  2.63  \n",
      "4  2.75  \n"
     ]
    }
   ],
   "source": [
    "# question 1(Write a Pandas program to read the csv file and print the top 5 rows.)\n",
    "import pandas as pd  # pandas library is used for data manipulation,analysis\n",
    "\n",
    "file_path = 'diamonds.csv'#(giving the name of file to be processed)\n",
    "\n",
    "#df variable will store which file we want to read\n",
    "df = pd.read_csv(file_path)    \n",
    "\n",
    "\n",
    "print(df.head(5)) #head will print top 5 rows of dataframe\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "604190fb",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0        0.23\n",
      "1        0.21\n",
      "2        0.23\n",
      "3        0.29\n",
      "4        0.31\n",
      "         ... \n",
      "53935    0.72\n",
      "53936    0.72\n",
      "53937    0.70\n",
      "53938    0.86\n",
      "53939    0.75\n",
      "Name: carat, Length: 53940, dtype: float64\n"
     ]
    }
   ],
   "source": [
    "# question 2(Write a Pandas program to select a series from diamonds Dataset (Read in the form of\n",
    "# DataFrame). Print the content of the series.)\n",
    "import pandas as pd\n",
    "\n",
    "diamonds_df = pd.read_csv('diamonds.csv')\n",
    "\n",
    "# Selecting the series of the dataset \n",
    "selected_series = diamonds_df['carat']\n",
    "\n",
    "print(selected_series)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "e2a096fa",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "       Unnamed: 0  carat        cut color clarity  depth  table  price  \\\n",
      "0               1   0.23      Ideal     E     SI2   61.5   55.0    326   \n",
      "1               2   0.21    Premium     E     SI1   59.8   61.0    326   \n",
      "2               3   0.23       Good     E     VS1   56.9   65.0    327   \n",
      "3               4   0.29    Premium     I     VS2   62.4   58.0    334   \n",
      "4               5   0.31       Good     J     SI2   63.3   58.0    335   \n",
      "...           ...    ...        ...   ...     ...    ...    ...    ...   \n",
      "53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757   \n",
      "53936       53937   0.72       Good     D     SI1   63.1   55.0   2757   \n",
      "53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757   \n",
      "53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757   \n",
      "53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757   \n",
      "\n",
      "       length  width     z  \n",
      "0        3.95   3.98  2.43  \n",
      "1        3.89   3.84  2.31  \n",
      "2        4.05   4.07  2.31  \n",
      "3        4.20   4.23  2.63  \n",
      "4        4.34   4.35  2.75  \n",
      "...       ...    ...   ...  \n",
      "53935    5.75   5.76  3.50  \n",
      "53936    5.69   5.75  3.61  \n",
      "53937    5.66   5.68  3.56  \n",
      "53938    6.15   6.12  3.74  \n",
      "53939    5.83   5.87  3.64  \n",
      "\n",
      "[53940 rows x 11 columns]\n"
     ]
    }
   ],
   "source": [
    "# question 3(Write a Pandas program to rename x column to length and y to width.)\n",
    "import pandas as pd\n",
    "\n",
    "diamonds_df = pd.read_csv('diamonds.csv')\n",
    "# Renaming 'x' column to 'length' and 'y' column to 'width'\n",
    "# The rename() method takes a dictionary where keys are the current column names, \n",
    "# and values are the new column names you want to assign.\n",
    "diamonds_df.rename(columns={'x': 'length', 'y': 'width'}, inplace=True)\n",
    "#when we specify inplace=True in an operation, the changes are made directly\n",
    "#to the original object. This means that the object is modified in place, and there is no need to create a new object.\n",
    "\n",
    "print(diamonds_df)\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "798b8b98",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "3850          Fair\n",
      "51464         Fair\n",
      "51466         Fair\n",
      "10237         Fair\n",
      "10760         Fair\n",
      "           ...    \n",
      "7402     Very Good\n",
      "43101    Very Good\n",
      "16893    Very Good\n",
      "16898    Very Good\n",
      "21164    Very Good\n",
      "Name: cut, Length: 53940, dtype: object\n"
     ]
    }
   ],
   "source": [
    "# question 4(Write a Pandas program to sort the cut column in ascending order and return it in a Series)\n",
    "import pandas as pd\n",
    "\n",
    "diamonds_df = pd.read_csv('diamonds.csv')\n",
    "# Sort the 'cut' column in ascending order and return it as a Series\n",
    "sorted_cut_series = diamonds_df['cut'].sort_values(ascending=True)\n",
    "#The sort_values() method is used to sort the 'cut' column in ascending order\n",
    "\n",
    "# Print the sorted Series\n",
    "print(sorted_cut_series)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "2c25b8e4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "       Unnamed: 0  carat      cut color clarity  depth  table  price     x  \\\n",
      "1               2   0.21  Premium     E     SI1   59.8   61.0    326  3.89   \n",
      "2               3   0.23     Good     E     VS1   56.9   65.0    327  4.05   \n",
      "3               4   0.29  Premium     I     VS2   62.4   58.0    334  4.20   \n",
      "4               5   0.31     Good     J     SI2   63.3   58.0    335  4.34   \n",
      "8               9   0.22     Fair     E     VS2   65.1   61.0    337  3.87   \n",
      "...           ...    ...      ...   ...     ...    ...    ...    ...   ...   \n",
      "53930       53931   0.71  Premium     E     SI1   60.5   55.0   2756  5.79   \n",
      "53931       53932   0.71  Premium     F     SI1   59.8   62.0   2756  5.74   \n",
      "53934       53935   0.72  Premium     D     SI1   62.7   59.0   2757  5.69   \n",
      "53936       53937   0.72     Good     D     SI1   63.1   55.0   2757  5.69   \n",
      "53938       53939   0.86  Premium     H     SI2   61.0   58.0   2757  6.15   \n",
      "\n",
      "          y     z  \n",
      "1      3.84  2.31  \n",
      "2      4.07  2.31  \n",
      "3      4.23  2.63  \n",
      "4      4.35  2.75  \n",
      "8      3.78  2.49  \n",
      "...     ...   ...  \n",
      "53930  5.74  3.49  \n",
      "53931  5.73  3.43  \n",
      "53934  5.73  3.58  \n",
      "53936  5.75  3.61  \n",
      "53938  6.12  3.74  \n",
      "\n",
      "[20307 rows x 11 columns]\n"
     ]
    }
   ],
   "source": [
    "#question 5(Write a Pandas program to find the diamonds that are with a Fair or Good or Premium.)\n",
    "import pandas as pd\n",
    "\n",
    "cut_categories = ['Fair', 'Good', 'Premium']\n",
    "#cut_categories (list)\n",
    "\n",
    "# Filtering  the DataFrame based on the 'cut' column\n",
    "filtered_diamonds = df[df['cut'].isin(cut_categories)]\n",
    "#we use the isin() method to filter the DataFrame based on the 'cut' column using the specified categories, \n",
    "#and the result is stored in the filtered_diamonds\n",
    "\n",
    "\n",
    "print(filtered_diamonds)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "950981d4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "           count  min    max\n",
      "cut                         \n",
      "Fair        1610  337  18574\n",
      "Good        4906  327  18788\n",
      "Ideal      21551  326  18806\n",
      "Premium    13791  326  18823\n",
      "Very Good  12082  336  18818\n"
     ]
    }
   ],
   "source": [
    "# question 6(Write a Pandas program to calculate count, minimum, maximum price for each cut of\n",
    "# diamonds DataFrame)\n",
    "import pandas as pd\n",
    "\n",
    "# Grouping  the DataFrame by the 'cut' column and calculate count, minimum, and maximum price\n",
    "result = df.groupby('cut')['price'].agg(['count', 'min', 'max'])\n",
    "\n",
    "print(result)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "a0ba5dff",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAxYAAAJOCAYAAAAqFJGJAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjguMCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy81sbWrAAAACXBIWXMAAA9hAAAPYQGoP6dpAABFIElEQVR4nO3de3zO9eP/8ec2OxnbDNscZuY8zLm0EGrMIfHJh0ihJiWHUOqj5NRBERHi06dYn0Ly6SREa8shlOOIRmg1Yhhm5rDN9v790XfXz9XmMK9xbTzut9t1u3W936/rfb3el6vZw/V+vy8ny7IsAQAAAIABZ0dPAAAAAEDxR1gAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWABAETV+/Hg5OTk5eho3nJOTk8aPH+/oaQAADBEWAHATREdHy8nJyXbz8PBQxYoVFRkZqXfeeUdnzpxx9BSLhbS0NE2YMEENGzZUqVKl5Onpqfr16+uFF17Q4cOHC7y9w4cPa/z48YqPjy/Q4w4cOKAnn3xS1apVk4eHh7y9vdWiRQvNmDFD58+fL/A8boR3331X0dHRjp4GgNuIk2VZlqMnAQC3uujoaD322GOaOHGiQkJClJWVpeTkZK1evVoxMTGqUqWKli5dqgYNGtgec/HiRV28eFEeHh4OnPmN5+TkpHHjxl31U4vffvtNERERSkpKUo8ePdSyZUu5ublp586dWrRokfz8/PTrr78W6Lm3bNmiO+64Q/Pnz1f//v2v6THLly9Xjx495O7urr59+6p+/frKzMzUDz/8oM8++0z9+/fXe++9V6B53Aj169dXuXLltHr1akdPBcBtooSjJwAAt5OOHTuqWbNmtvujR49WXFyc7r//fj3wwANKSEiQp6enJKlEiRIqUYIf09JfkfXggw/q6NGjWr16tVq2bGm3/rXXXtObb755w+eRmJioXr16KTg4WHFxcapQoYJt3eDBg7V//34tX778hs8DAIoiDoUCAAe799579fLLL+uPP/7Qxx9/bFue3zkW8+fP17333it/f3+5u7urbt26mjNnTp5tVq1aVffff79Wr16tZs2aydPTU2FhYbZ/vf78888VFhYmDw8PNW3aVNu3b8+zjbi4OLVq1UpeXl7y9fVV165dlZCQYDcmd4779+9X//795evrKx8fHz322GM6d+6c3diMjAyNGDFC5cuXV+nSpfXAAw/o0KFD1/QaffbZZ9qxY4deeumlPFEhSd7e3nrttdfs9j+/TyDatGmjNm3aSJJWr16tO+64Q5L02GOP2Q5Tu9LhQ5MnT1Z6ero++OADu6jIVaNGDT3zzDO2+xcvXtQrr7yi6tWry93dXVWrVtWLL76ojIwMu8dd7jyTv+9H7iF169ev18iRI1W+fHl5eXnpH//4h44fP273uN27d2vNmjW2/crd76ysLE2YMEE1a9aUh4eHypYtq5YtWyomJuay+w0A14KwAIAi4NFHH5Ukffvtt1ccN2fOHAUHB+vFF1/U1KlTFRQUpKefflqzZ8/OM3b//v16+OGH1aVLF02aNEmnTp1Sly5dtGDBAo0YMUKPPPKIJkyYoAMHDqhnz57KycmxPfa7775TZGSkjh07pvHjx2vkyJHasGGDWrRood9//z3Pc/Xs2VNnzpzRpEmT1LNnT0VHR2vChAl2YwYMGKDp06erffv2euONN+Tq6qrOnTtf0+uzdOlSu9epMISGhmrixImSpIEDB+qjjz7SRx99pHvuueeyj/n6669VrVo13X333df0HAMGDNDYsWPVpEkTvf3222rdurUmTZqkXr16Gc196NCh2rFjh8aNG6dBgwbp66+/1pAhQ2zrp0+frsqVK6tOnTq2/XrppZck/RWDEyZMUNu2bTVr1iy99NJLqlKlirZt22Y0JwCQBQC44ebPn29JsjZv3nzZMT4+Plbjxo1t98eNG2f9/cf0uXPn8jwuMjLSqlatmt2y4OBgS5K1YcMG27JVq1ZZkixPT0/rjz/+sC3/97//bUmyvv/+e9uyRo0aWf7+/taJEydsy3bs2GE5Oztbffv2zTPHxx9/3O75//GPf1hly5a13Y+Pj7ckWU8//bTduIcfftiSZI0bNy6/l8SmcePGlo+PzxXHXCo4ONjq169fnuWtW7e2Wrdubbu/efNmS5I1f/78q27z9OnTliSra9eu1zSH3H0eMGCA3fLnnnvOkmTFxcXZll3uNfj7fuS+jyIiIqycnBzb8hEjRlguLi5WamqqbVm9evXs9jVXw4YNrc6dO1/TPgBAQfCJBQAUEaVKlbrq1aFyz7+QpNOnTyslJUWtW7fWb7/9ptOnT9uNrVu3rsLDw233mzdvLumvQ6+qVKmSZ/lvv/0mSTpy5Iji4+PVv39/+fn52cY1aNBA7dq104oVK/LM66mnnrK736pVK504cUJpaWmSZHvMsGHD7MYNHz78ivubKy0tTaVLl76msTdK7r5c6zxy93nkyJF2y5999llJMjoXY+DAgXaHybVq1UrZ2dn6448/rvpYX19f7d69W/v27bvu5weA/BAWAFBEpKenX/WX1vXr1ysiIsJ23kP58uX14osvSlKesLg0HiTJx8dHkhQUFJTv8lOnTkmS7ZfT2rVr53n+0NBQpaSk6OzZs1d8rjJlyuTZprOzs6pXr243Lr/nyI+3t7fDL8nr7e0tSdc8j9x9rlGjht3ywMBA+fr6XlMEXM7VXu8rmThxolJTU1WrVi2FhYVp1KhR2rlz53XPBQByERYAUAQcOnRIp0+fzvNL6KUOHDig++67TykpKZo2bZqWL1+umJgYjRgxQpLszpGQJBcXl3y3c7nllsHVx2/ENi9Vp04dnT59WgcPHrym8Zf7YsHs7OzrnoO3t7cqVqyoXbt2FehxJl9yeLn5mrze99xzjw4cOKB58+apfv36ev/999WkSRO9//771z1PAJAICwAoEj766CNJUmRk5GXHfP3118rIyNDSpUv15JNPqlOnToqIiLA7PKowBAcHS5L27t2bZ92ePXtUrlw5eXl5FXibOTk5OnDggN3y/J4jP126dJEku6tmXUmZMmWUmpqaZ/nfPyUo6C/9999/vw4cOKCNGzdedWzuPv/9kKOjR48qNTXV9jpfbr6ZmZk6cuRIgeZ3qSvtm5+fnx577DEtWrRIBw8eVIMGDfj2cwDGCAsAcLC4uDi98sorCgkJUZ8+fS47LvdfqS/9V+nTp09r/vz5hTqfChUqqFGjRvrwww/tftndtWuXvv32W3Xq1KnA2+zYsaMk6Z133rFbPn369Gt6/D//+U+FhYXptddey/eX+jNnztiueiRJ1atX148//qjMzEzbsmXLluX5xCM3kPKLkPw8//zz8vLy0oABA3T06NE86w8cOKAZM2ZIku11+vs+Tps2TZLsrohVvXp1rV271m7ce++9Z/QJi5eXV777deLECbv7pUqVUo0aNfJcAhcACopvXgKAm+ibb77Rnj17dPHiRR09elRxcXGKiYlRcHCwli5desVv2W7fvr3c3NzUpUsXPfnkk0pPT9d//vMf+fv7G/3Ldn6mTJmijh07Kjw8XFFRUTp//rxmzpwpHx+f6/qX7UaNGql379569913dfr0ad19992KjY3V/v37r+nxrq6u+vzzzxUREaF77rlHPXv2VIsWLeTq6qrdu3dr4cKFKlOmjO27LAYMGKD//e9/6tChg3r27KkDBw7o448/znOOR/Xq1eXr66u5c+eqdOnS8vLyUvPmzRUSEpLvPKpXr66FCxfqoYceUmhoqN03b2/YsEFLliyxfe9Ew4YN1a9fP7333ntKTU1V69attWnTJn344Yfq1q2b2rZta9vugAED9NRTT6l79+5q166dduzYoVWrVqlcuXIFfq1zNW3aVHPmzNGrr76qGjVqyN/fX/fee6/q1q2rNm3aqGnTpvLz89OWLVv0v//9z+5ytQBwXRx7USoAuD3kXiY09+bm5mYFBgZa7dq1s2bMmGGlpaXleUx+l5tdunSp1aBBA8vDw8OqWrWq9eabb1rz5s2zJFmJiYm2ccHBwfleUlSSNXjwYLtliYmJliRrypQpdsu/++47q0WLFpanp6fl7e1tdenSxfrll1/ynePx48fz3d9L53T+/Hlr2LBhVtmyZS0vLy+rS5cu1sGDB6/pcrO5Tp06ZY0dO9YKCwuzSpYsaXl4eFj169e3Ro8ebR05csRu7NSpU61KlSpZ7u7uVosWLawtW7bkudysZVnWV199ZdWtW9cqUaLENV969tdff7WeeOIJq2rVqpabm5tVunRpq0WLFtbMmTOtCxcu2MZlZWVZEyZMsEJCQixXV1crKCjIGj16tN0Yy7Ks7Oxs64UXXrDKlStnlSxZ0oqMjLT2799/2cvN/v2yxd9//32eSwYnJydbnTt3tkqXLm1Jsu33q6++at15552Wr6+v5enpadWpU8d67bXXrMzMzKvuNwBciZNlFdKZdQAAAABuW5xjAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhfkFdIcnJydPjwYZUuXVpOTk6Ong4AAABgzLIsnTlzRhUrVpSz85U/kyAsCsnhw4cVFBTk6GkAAAAAhe7gwYOqXLnyFccQFoWkdOnSkv560b29vR08GwAAAMBcWlqagoKCbL/rXglhUUhyD3/y9vYmLAAAAHBLuZZD/Tl5GwAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAsRKOngBujKSkJKWkpDh6GkVOuXLlVKVKFUdPAwAA4JZDWNyCkpKSVCc0VOfPnXP0VIocz5IltSchgbgAAAAoZITFLSglJUXnz51Tz1fnyD+kpqOnU2QcS9ynT8cMUkpKCmEBAABQyAiLW5h/SE1VCm3o6GkAAADgNsDJ2wAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIw5NCwmTZqkO+64Q6VLl5a/v7+6deumvXv32o25cOGCBg8erLJly6pUqVLq3r27jh49ajcmKSlJnTt3VsmSJeXv769Ro0bp4sWLdmNWr16tJk2ayN3dXTVq1FB0dHSe+cyePVtVq1aVh4eHmjdvrk2bNhX6PgMAAAC3IoeGxZo1azR48GD9+OOPiomJUVZWltq3b6+zZ8/axowYMUJff/21lixZojVr1ujw4cN68MEHbeuzs7PVuXNnZWZmasOGDfrwww8VHR2tsWPH2sYkJiaqc+fOatu2reLj4zV8+HANGDBAq1atso1ZvHixRo4cqXHjxmnbtm1q2LChIiMjdezYsZvzYgAAAADFmJNlWZajJ5Hr+PHj8vf315o1a3TPPffo9OnTKl++vBYuXKh//vOfkqQ9e/YoNDRUGzdu1F133aVvvvlG999/vw4fPqyAgABJ0ty5c/XCCy/o+PHjcnNz0wsvvKDly5dr165dtufq1auXUlNTtXLlSklS8+bNdccdd2jWrFmSpJycHAUFBWno0KH617/+ddW5p6WlycfHR6dPn5a3t3dhvzQFsm3bNjVt2lRDFnynSqENHTqXouTPhB2a1SdCW7duVZMmTRw9HQAAgCKvIL/jFqlzLE6fPi1J8vPzkyRt3bpVWVlZioiIsI2pU6eOqlSpoo0bN0qSNm7cqLCwMFtUSFJkZKTS0tK0e/du25hLt5E7JncbmZmZ2rp1q90YZ2dnRURE2MYAAAAAuLwSjp5ArpycHA0fPlwtWrRQ/fr1JUnJyclyc3OTr6+v3diAgAAlJyfbxlwaFbnrc9ddaUxaWprOnz+vU6dOKTs7O98xe/bsyXe+GRkZysjIsN1PS0sr4B4DAAAAt44i84nF4MGDtWvXLn3yySeOnso1mTRpknx8fGy3oKAgR08JAAAAcJgiERZDhgzRsmXL9P3336ty5cq25YGBgcrMzFRqaqrd+KNHjyowMNA25u9Xicq9f7Ux3t7e8vT0VLly5eTi4pLvmNxt/N3o0aN1+vRp2+3gwYMF33EAAADgFuHQsLAsS0OGDNEXX3yhuLg4hYSE2K1v2rSpXF1dFRsba1u2d+9eJSUlKTw8XJIUHh6un3/+2e7qTTExMfL29lbdunVtYy7dRu6Y3G24ubmpadOmdmNycnIUGxtrG/N37u7u8vb2trsBAAAAtyuHnmMxePBgLVy4UF999ZVKly5tOyfCx8dHnp6e8vHxUVRUlEaOHCk/Pz95e3tr6NChCg8P11133SVJat++verWratHH31UkydPVnJyssaMGaPBgwfL3d1dkvTUU09p1qxZev755/X4448rLi5On376qZYvX26by8iRI9WvXz81a9ZMd955p6ZPn66zZ8/qscceu/kvDAAAAFDMODQs5syZI0lq06aN3fL58+erf//+kqS3335bzs7O6t69uzIyMhQZGal3333XNtbFxUXLli3ToEGDFB4eLi8vL/Xr108TJ060jQkJCdHy5cs1YsQIzZgxQ5UrV9b777+vyMhI25iHHnpIx48f19ixY5WcnKxGjRpp5cqVeU7oBgAAAJBXkfoei+KM77Eo+vgeCwAAgIIptt9jAQAAAKB4IiwAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGHNoWKxdu1ZdunRRxYoV5eTkpC+//NJuff/+/eXk5GR369Chg92YkydPqk+fPvL29pavr6+ioqKUnp5uN2bnzp1q1aqVPDw8FBQUpMmTJ+eZy5IlS1SnTh15eHgoLCxMK1asKPT9BQAAAG5VDg2Ls2fPqmHDhpo9e/Zlx3To0EFHjhyx3RYtWmS3vk+fPtq9e7diYmK0bNkyrV27VgMHDrStT0tLU/v27RUcHKytW7dqypQpGj9+vN577z3bmA0bNqh3796KiorS9u3b1a1bN3Xr1k27du0q/J0GAAAAbkElHPnkHTt2VMeOHa84xt3dXYGBgfmuS0hI0MqVK7V582Y1a9ZMkjRz5kx16tRJb731lipWrKgFCxYoMzNT8+bNk5ubm+rVq6f4+HhNmzbNFiAzZsxQhw4dNGrUKEnSK6+8opiYGM2aNUtz584txD0GAAAAbk1F/hyL1atXy9/fX7Vr19agQYN04sQJ27qNGzfK19fXFhWSFBERIWdnZ/3000+2Mffcc4/c3NxsYyIjI7V3716dOnXKNiYiIsLueSMjI7Vx48bLzisjI0NpaWl2NwAAAOB2VaTDokOHDvrvf/+r2NhYvfnmm1qzZo06duyo7OxsSVJycrL8/f3tHlOiRAn5+fkpOTnZNiYgIMBuTO79q43JXZ+fSZMmycfHx3YLCgoy21kAAACgGHPooVBX06tXL9t/h4WFqUGDBqpevbpWr16t++67z4Ezk0aPHq2RI0fa7qelpREXAAAAuG0V6U8s/q5atWoqV66c9u/fL0kKDAzUsWPH7MZcvHhRJ0+etJ2XERgYqKNHj9qNyb1/tTGXO7dD+uvcD29vb7sbAAAAcLsqVmFx6NAhnThxQhUqVJAkhYeHKzU1VVu3brWNiYuLU05Ojpo3b24bs3btWmVlZdnGxMTEqHbt2ipTpoxtTGxsrN1zxcTEKDw8/EbvEgAAAHBLcGhYpKenKz4+XvHx8ZKkxMRExcfHKykpSenp6Ro1apR+/PFH/f7774qNjVXXrl1Vo0YNRUZGSpJCQ0PVoUMHPfHEE9q0aZPWr1+vIUOGqFevXqpYsaIk6eGHH5abm5uioqK0e/duLV68WDNmzLA7jOmZZ57RypUrNXXqVO3Zs0fjx4/Xli1bNGTIkJv+mgAAAADFkUPDYsuWLWrcuLEaN24sSRo5cqQaN26ssWPHysXFRTt37tQDDzygWrVqKSoqSk2bNtW6devk7u5u28aCBQtUp04d3XffferUqZNatmxp9x0VPj4++vbbb5WYmKimTZvq2Wef1dixY+2+6+Luu+/WwoUL9d5776lhw4b63//+py+//FL169e/eS8GAAAAUIw59OTtNm3ayLKsy65ftWrVVbfh5+enhQsXXnFMgwYNtG7duiuO6dGjh3r06HHV5wMAAACQV7E6xwIAAABA0URYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMFbC0RMA4FhJSUlKSUlx9DSKnHLlyqlKlSqOngYAAMUGYQHcxpKSklQnNFTnz51z9FSKHM+SJbUnIYG4AADgGhEWwG0sJSVF58+dU89X58g/pKajp1NkHEvcp0/HDFJKSgphAQDANSIsAMg/pKYqhTZ09DQAAEAxxsnbAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIyVuJ4HVatWTZs3b1bZsmXtlqempqpJkyb67bffCmVyAICiJSkpSSkpKY6eRpFSrlw5ValSxdHTAACHu66w+P3335WdnZ1neUZGhv7880/jSQEAip6kpCTVCQ3V+XPnHD2VIsWzZEntSUggLgDc9goUFkuXLrX996pVq+Tj42O7n52drdjYWFWtWrXQJgcAKDpSUlJ0/tw59Xx1jvxDajp6OkXCscR9+nTMIKWkpBAWAG57BQqLbt26SZKcnJzUr18/u3Wurq6qWrWqpk6dWmiTAwAUPf4hNVUptKGjpwEAKGIKFBY5OTmSpJCQEG3evFnlypW7IZMCAAAAULxc1zkWiYmJhT0PAAAAAMXYdYWFJMXGxio2NlbHjh2zfZKRa968ecYTAwAAAFB8XFdYTJgwQRMnTlSzZs1UoUIFOTk5Ffa8AAAAABQj1xUWc+fOVXR0tB599NHCng8AAACAYui6vnk7MzNTd999d2HPBQAAAEAxdV1hMWDAAC1cuLCw5wIAAACgmLquQ6EuXLig9957T999950aNGggV1dXu/XTpk0rlMkBAAAAKB6uKyx27typRo0aSZJ27dplt44TuQEAAIDbz3WFxffff1/Y8wAAAABQjF3XORYAAAAAcKnr+sSibdu2VzzkKS4u7ronBAAAAKD4ua6wyD2/IldWVpbi4+O1a9cu9evXrzDmBQAAAKAYua6wePvtt/NdPn78eKWnpxtNCAAAAEDxU6jnWDzyyCOaN29eYW4SAAAAQDFQqGGxceNGeXh4FOYmAQAAABQD13Uo1IMPPmh337IsHTlyRFu2bNHLL79cKBMDAAAAUHxcV1j4+PjY3Xd2dlbt2rU1ceJEtW/fvlAmBgAAAKD4uK6wmD9/fmHPAwAAAEAxdl1hkWvr1q1KSEiQJNWrV0+NGzculEkBAAAAKF6uKyyOHTumXr16afXq1fL19ZUkpaamqm3btvrkk09Uvnz5wpwjAAAAgCLuuq4KNXToUJ05c0a7d+/WyZMndfLkSe3atUtpaWkaNmxYYc8RAAAAQBF3XZ9YrFy5Ut99951CQ0Nty+rWravZs2dz8jYAAABwG7quTyxycnLk6uqaZ7mrq6tycnKMJwUAAACgeLmusLj33nv1zDPP6PDhw7Zlf/75p0aMGKH77ruv0CYHAAAAoHi4rrCYNWuW0tLSVLVqVVWvXl3Vq1dXSEiI0tLSNHPmzMKeIwAAAIAi7rrOsQgKCtK2bdv03Xffac+ePZKk0NBQRUREFOrkAAAAABQPBfrEIi4uTnXr1lVaWpqcnJzUrl07DR06VEOHDtUdd9yhevXqad26dTdqrgAAAACKqAKFxfTp0/XEE0/I29s7zzofHx89+eSTmjZtWqFNDgAAAEDxUKCw2LFjhzp06HDZ9e3bt9fWrVuNJwUAAACgeClQWBw9ejTfy8zmKlGihI4fP248KQAAAADFS4HColKlStq1a9dl1+/cuVMVKlQwnhQAAACA4qVAYdGpUye9/PLLunDhQp5158+f17hx43T//fcX2uQAAAAAFA8FutzsmDFj9Pnnn6tWrVoaMmSIateuLUnas2ePZs+erezsbL300ks3ZKIAAAAAiq4ChUVAQIA2bNigQYMGafTo0bIsS5Lk5OSkyMhIzZ49WwEBATdkogAAAACKrgJ/QV5wcLBWrFihU6dOaf/+/bIsSzVr1lSZMmVuxPwAAAAAFAPX9c3bklSmTBndcccdhTkXAAAAAMVUgU7eBgAAAID8EBYAAAAAjDk0LNauXasuXbqoYsWKcnJy0pdffmm33rIsjR07VhUqVJCnp6ciIiK0b98+uzEnT55Unz595O3tLV9fX0VFRSk9Pd1uzM6dO9WqVSt5eHgoKChIkydPzjOXJUuWqE6dOvLw8FBYWJhWrFhR6PsLAAAA3KocGhZnz55Vw4YNNXv27HzXT548We+8847mzp2rn376SV5eXoqMjLT7Ho0+ffpo9+7diomJ0bJly7R27VoNHDjQtj4tLU3t27dXcHCwtm7dqilTpmj8+PF67733bGM2bNig3r17KyoqStu3b1e3bt3UrVu3K34ZIAAAAID/77pP3i4MHTt2VMeOHfNdZ1mWpk+frjFjxqhr166SpP/+978KCAjQl19+qV69eikhIUErV67U5s2b1axZM0nSzJkz1alTJ7311luqWLGiFixYoMzMTM2bN09ubm6qV6+e4uPjNW3aNFuAzJgxQx06dNCoUaMkSa+88opiYmI0a9YszZ079ya8EgAAAEDxVmTPsUhMTFRycrIiIiJsy3x8fNS8eXNt3LhRkrRx40b5+vraokKSIiIi5OzsrJ9++sk25p577pGbm5ttTGRkpPbu3atTp07Zxlz6PLljcp8HAAAAwJU59BOLK0lOTpakPF+4FxAQYFuXnJwsf39/u/UlSpSQn5+f3ZiQkJA828hdV6ZMGSUnJ1/xefKTkZGhjIwM2/20tLSC7B4AAABwSymyn1gUdZMmTZKPj4/tFhQU5OgpAQAAAA5TZMMiMDBQknT06FG75UePHrWtCwwM1LFjx+zWX7x4USdPnrQbk982Ln2Oy43JXZ+f0aNH6/Tp07bbwYMHC7qLAAAAwC2jyIZFSEiIAgMDFRsba1uWlpamn376SeHh4ZKk8PBwpaamauvWrbYxcXFxysnJUfPmzW1j1q5dq6ysLNuYmJgY1a5dW2XKlLGNufR5csfkPk9+3N3d5e3tbXcDAAAAblcODYv09HTFx8crPj5e0l8nbMfHxyspKUlOTk4aPny4Xn31VS1dulQ///yz+vbtq4oVK6pbt26SpNDQUHXo0EFPPPGENm3apPXr12vIkCHq1auXKlasKEl6+OGH5ebmpqioKO3evVuLFy/WjBkzNHLkSNs8nnnmGa1cuVJTp07Vnj17NH78eG3ZskVDhgy52S8JAAAAUCw59OTtLVu2qG3btrb7ub/s9+vXT9HR0Xr++ed19uxZDRw4UKmpqWrZsqVWrlwpDw8P22MWLFigIUOG6L777pOzs7O6d++ud955x7bex8dH3377rQYPHqymTZuqXLlyGjt2rN13Xdx9991auHChxowZoxdffFE1a9bUl19+qfr169+EVwEAAAAo/hwaFm3atJFlWZdd7+TkpIkTJ2rixImXHePn56eFCxde8XkaNGigdevWXXFMjx491KNHjytPGAAAAEC+iuw5FgAAAACKD8ICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgDHCAgAAAIAxwgIAAACAMcICAAAAgLEiHRbjx4+Xk5OT3a1OnTq29RcuXNDgwYNVtmxZlSpVSt27d9fRo0fttpGUlKTOnTurZMmS8vf316hRo3Tx4kW7MatXr1aTJk3k7u6uGjVqKDo6+mbsHgAAAHDLKNJhIUn16tXTkSNHbLcffvjBtm7EiBH6+uuvtWTJEq1Zs0aHDx/Wgw8+aFufnZ2tzp07KzMzUxs2bNCHH36o6OhojR071jYmMTFRnTt3Vtu2bRUfH6/hw4drwIABWrVq1U3dTwAAAKA4K+HoCVxNiRIlFBgYmGf56dOn9cEHH2jhwoW69957JUnz589XaGiofvzxR91111369ttv9csvv+i7775TQECAGjVqpFdeeUUvvPCCxo8fLzc3N82dO1chISGaOnWqJCk0NFQ//PCD3n77bUVGRt7UfQUAAACKqyL/icW+fftUsWJFVatWTX369FFSUpIkaevWrcrKylJERIRtbJ06dVSlShVt3LhRkrRx40aFhYUpICDANiYyMlJpaWnavXu3bcyl28gdk7uNy8nIyFBaWprdDQAAALhdFemwaN68uaKjo7Vy5UrNmTNHiYmJatWqlc6cOaPk5GS5ubnJ19fX7jEBAQFKTk6WJCUnJ9tFRe763HVXGpOWlqbz589fdm6TJk2Sj4+P7RYUFGS6uwAAAECxVaQPherYsaPtvxs0aKDmzZsrODhYn376qTw9PR04M2n06NEaOXKk7X5aWhpxAQDA/0lKSlJKSoqjp1HklCtXTlWqVHH0NIAbokiHxd/5+vqqVq1a2r9/v9q1a6fMzEylpqbafWpx9OhR2zkZgYGB2rRpk902cq8ademYv19J6ujRo/L29r5ivLi7u8vd3b0wdgsAgFtKUlKS6oSG6vy5c46eSpHjWbKk9iQkEBe4JRWrsEhPT9eBAwf06KOPqmnTpnJ1dVVsbKy6d+8uSdq7d6+SkpIUHh4uSQoPD9drr72mY8eOyd/fX5IUExMjb29v1a1b1zZmxYoVds8TExNj2wYAACiYlJQUnT93Tj1fnSP/kJqOnk6RcSxxnz4dM0gpKSmEBW5JRTosnnvuOXXp0kXBwcE6fPiwxo0bJxcXF/Xu3Vs+Pj6KiorSyJEj5efnJ29vbw0dOlTh4eG66667JEnt27dX3bp19eijj2ry5MlKTk7WmDFjNHjwYNunDU899ZRmzZql559/Xo8//rji4uL06aefavny5Y7cdQAAij3/kJqqFNrQ0dMAcJMU6bA4dOiQevfurRMnTqh8+fJq2bKlfvzxR5UvX16S9Pbbb8vZ2Vndu3dXRkaGIiMj9e6779oe7+LiomXLlmnQoEEKDw+Xl5eX+vXrp4kTJ9rGhISEaPny5RoxYoRmzJihypUr6/333+dSswAAAEABFOmw+OSTT6643sPDQ7Nnz9bs2bMvOyY4ODjPoU5/16ZNG23fvv265ggAAACgiF9uFgAAAEDxQFgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMEZYAAAAADBGWAAAAAAwRlgAAAAAMFbC0RMAAADA7SspKUkpKSmOnkaRU65cOVWpUsXR0ygQwgIAAAAOkZSUpDqhoTp/7pyjp1LkeJYsqT0JCcUqLggLAAAAOERKSorOnzunnq/OkX9ITUdPp8g4lrhPn44ZpJSUFMICAAAAuFb+ITVVKbSho6cBQ5y8DQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYQEAAADAGGEBAAAAwBhhAQAAAMAYYfE3s2fPVtWqVeXh4aHmzZtr06ZNjp4SAAAAUOQRFpdYvHixRo4cqXHjxmnbtm1q2LChIiMjdezYMUdPDQAAACjSCItLTJs2TU888YQee+wx1a1bV3PnzlXJkiU1b948R08NAAAAKNIIi/+TmZmprVu3KiIiwrbM2dlZERER2rhxowNnBgAAABR9JRw9gaIiJSVF2dnZCggIsFseEBCgPXv25BmfkZGhjIwM2/3Tp09LktLS0m7sRK9Benq6JOnPhJ3KPHfWwbMpOo7/cUDSX69PUfhzKgp4r+SP90r+eL/kxXslf7xX8sf7JS/eK/krSu+V3Oe3LOuqY52saxl1Gzh8+LAqVaqkDRs2KDw83Lb8+eef15o1a/TTTz/ZjR8/frwmTJhws6cJAAAA3HQHDx5U5cqVrziGTyz+T7ly5eTi4qKjR4/aLT969KgCAwPzjB89erRGjhxpu5+Tk6OTJ0+qbNmycnJyuuHzLS7S0tIUFBSkgwcPytvb29HTQRHGewUFwfsF14r3Cq4V75X8WZalM2fOqGLFilcdS1j8Hzc3NzVt2lSxsbHq1q2bpL9iITY2VkOGDMkz3t3dXe7u7nbLfH19b8JMiydvb2/+J8U14b2CguD9gmvFewXXivdKXj4+Ptc0jrC4xMiRI9WvXz81a9ZMd955p6ZPn66zZ8/qsccec/TUAAAAgCKNsLjEQw89pOPHj2vs2LFKTk5Wo0aNtHLlyjwndAMAAACwR1j8zZAhQ/I99AnXx93dXePGjctz2Bjwd7xXUBC8X3CteK/gWvFeMcdVoQAAAAAY4wvyAAAAABgjLAAAAAAYIyxgrE2bNho+fHiR3yaKp99//11OTk6Kj4939FSAPPhZdetzcnLSl19+6ehpwAGio6P5KoECIixwVf3797d9twduH/3795eTk5OcnJzk5uamGjVqaOLEibp48eJNnUdQUJCOHDmi+vXr39TnRV5dunRRhw4d8l23bt06OTk5aefOnTd1TpmZmZoyZYqaNGkiLy8v+fj4qGHDhhozZowOHz58U+eCGyc5OVnPPPOMatSoIQ8PDwUEBKhFixaaM2eOzp075+jpoYi79O+zS2/79++/4uMeeugh/frrrzdplrcGrgoF4LI6dOig+fPnKyMjQytWrNDgwYPl6uqq0aNH243LzMyUm5vbDZmDi4uLAgMDb8i2UTBRUVHq3r27Dh06pMqVK9utmz9/vpo1a6YGDRoUeLvX+/7JyMhQ+/bttXPnTk2YMEEtWrRQ+fLllZiYqEWLFmnmzJmaNGlSgbeLouW3335TixYt5Ovrq9dff11hYWFyd3fXzz//rPfee0+VKlXSAw884OhpoojL/fvsUuXLl7/iYzw9PeXp6XnZ9Tfy777iik8sUCBnz55V3759VapUKVWoUEFTp07NMyYjI0PPPfecKlWqJC8vLzVv3lyrV6+2rT9x4oR69+6tSpUqqWTJkgoLC9OiRYtu4l7gWrm7uyswMFDBwcEaNGiQIiIitHTpUtunWK+99poqVqyo2rVrS5IOHjyonj17ytfXV35+furatat+//132/ZyH/f6668rICBAvr6+tk9BRo0aJT8/P1WuXNnuh//fD4XK76PpL7/8Uk5OTrb748ePV6NGjTRv3jxVqVJFpUqV0tNPP63s7GxNnjxZgYGB8vf312uvvXbDXrtb0f3336/y5csrOjrabnl6erqWLFmiqKgoSdIPP/ygVq1aydPTU0FBQRo2bJjOnj1rG1+1alW98sor6tu3r7y9vTVw4EDde++9eS71ffz4cbm5uSk2Njbf+bz99tv64YcfFBcXp2HDhqlp06aqUqWKWrdurblz5+r111+3jc3IyNCwYcPk7+8vDw8PtWzZUps3b7bb3po1a3TnnXfK3d1dFSpU0L/+9S+7T+iu5ecfCt/TTz+tEiVKaMuWLerZs6dCQ0NVrVo1de3aVcuXL1eXLl0kSUlJSeratatKlSolb29v9ezZU0ePHrXb1pw5c1S9enW5ubmpdu3a+uijj+zW79u3T/fcc488PDxUt25dxcTE3LT9xI2V+/fZpbcZM2YoLCxMXl5eCgoK0tNPP6309HTbY/7+903u3y3vv/++QkJC5OHh4YA9KdoICxTIqFGjtGbNGn311Vf69ttvtXr1am3bts1uzJAhQ7Rx40Z98skn2rlzp3r06KEOHTpo3759kqQLFy6oadOmWr58uXbt2qWBAwfq0Ucf1aZNmxyxSygAT09PZWZmSpJiY2O1d+9excTEaNmyZcrKylJkZKRKly6tdevWaf369SpVqpQ6dOhge4wkxcXF6fDhw1q7dq2mTZumcePG6f7771eZMmX0008/6amnntKTTz6pQ4cOGc31wIED+uabb7Ry5UotWrRIH3zwgTp37qxDhw5pzZo1evPNNzVmzBj99NNPRs9zOylRooT69u2r6OhoXXql8iVLlig7O1u9e/fWgQMH1KFDB3Xv3l07d+7U4sWL9cMPP+SJhrfeeksNGzbU9u3b9fLLL2vAgAFauHChMjIybGM+/vhjVapUSffee2++81m0aJHatWunxo0b57v+0th8/vnn9dlnn+nDDz/Utm3bVKNGDUVGRurkyZOSpD///FOdOnXSHXfcoR07dmjOnDn64IMP9Oqrr9q2cS0//1C4Tpw4oW+//VaDBw+Wl5dXvmOcnJyUk5Ojrl276uTJk1qzZo1iYmL022+/6aGHHrKN++KLL/TMM8/o2Wef1a5du/Tkk0/qscce0/fffy9JysnJ0YMPPig3Nzf99NNPmjt3rl544YWbsp9wDGdnZ73zzjvavXu3PvzwQ8XFxen555+/4mP279+vzz77TJ9//jnn/uXHAq6iX79+VteuXa0zZ85Ybm5u1qeffmpbd+LECcvT09N65plnLMuyrD/++MNycXGx/vzzT7tt3Hfffdbo0aMv+xydO3e2nn32Wdv91q1b27YJx8j9c7csy8rJybFiYmIsd3d367nnnrP69etnBQQEWBkZGbbxH330kVW7dm0rJyfHtiwjI8Py9PS0Vq1aZdtmcHCwlZ2dbRtTu3Ztq1WrVrb7Fy9etLy8vKxFixZZlmVZiYmJliRr+/btlmVZ1vz58y0fHx+7uX7xxRfWpT/Oxo0bZ5UsWdJKS0uzLYuMjLSqVq2a57knTZp0na/Q7SkhIcGSZH3//fe2Za1atbIeeeQRy7IsKyoqyho4cKDdY9atW2c5Oztb58+ftyzLsoKDg61u3brZjTl//rxVpkwZa/HixbZlDRo0sMaPH3/ZuXh4eFjDhg2zW9atWzfLy8vL8vLyssLDwy3Lsqz09HTL1dXVWrBggW1cZmamVbFiRWvy5MmWZVnWiy++mOf9O3v2bKtUqVJWdnb2Nf38Q+H78ccfLUnW559/bre8bNmytj/n559/3vr2228tFxcXKykpyTZm9+7dliRr06ZNlmVZ1t1332098cQTdtvp0aOH1alTJ8uyLGvVqlVWiRIl7P7++uabbyxJ1hdffHGD9hA3Q79+/SwXFxfbe8bLy8v65z//mWfckiVLrLJly9ru//3vm3Hjxlmurq7WsWPHbsa0iyXOscA1O3DggDIzM9W8eXPbMj8/P9thMJL0888/Kzs7W7Vq1bJ7bEZGhsqWLStJys7O1uuvv65PP/1Uf/75pzIzM5WRkaGSJUvenB3BNVu2bJlKlSqlrKws5eTk6OGHH9b48eM1ePBghYWF2R1bumPHDu3fv1+lS5e228aFCxd04MAB2/169erJ2fn/f1gaEBBgd2K2i4uLypYtq2PHjhnNvWrVqnZzCQgIkIuLS57nNn2e202dOnV09913a968eWrTpo3279+vdevWaeLEiZL+eh/s3LlTCxYssD3Gsizl5OQoMTFRoaGhkqRmzZrZbdfDw0OPPvqo5s2bp549e2rbtm3atWuXli5dWqD5vfvuuzp79qzeeecdrV27VtJfP7uysrLUokUL2zhXV1fdeeedSkhIkCQlJCQoPDzc7lOOFi1aKD09XYcOHdKpU6eu+vMPN8+mTZuUk5OjPn36KCMjQwkJCQoKClJQUJBtTN26deXr66uEhATdcccdSkhI0MCBA+2206JFC82YMUOSbNuoWLGibX14ePjN2SHccG3bttWcOXNs9728vPTdd99p0qRJ2rNnj9LS0nTx4kVduHBB586du+zvJMHBwVc9N+N2RligUKWnp8vFxUVbt26Vi4uL3bpSpUpJkqZMmaIZM2Zo+vTptmMbhw8fbne4DIqG3B/Ebm5uqlixokqU+P8/Mv5+WEJ6erqaNm1q9wtlrkt/CLu6utqtc3JyyndZTk5OvnNydna2OwxHkrKysvKMM30eXF5UVJSGDh2q2bNna/78+apevbpat24t6a/3wZNPPqlhw4bleVyVKlVs/53fYS0DBgxQo0aNdOjQIc2fP1/33nuvgoODLzuPmjVrau/evXbLKlSoIOmvX/pR/NWoUUNOTk55/pyrVasmSVc8sRa4lJeXl2rUqGG7//vvv+v+++/XoEGD9Nprr8nPz08//PCDoqKilJmZedmwuNwhefgL51jgmlWvXl2urq52x6SfOnXK7lJsjRs3VnZ2to4dO6YaNWrY3XKv7LN+/Xp17dpVjzzyiBo2bKhq1apxObciKvcHcZUqVeyiIj9NmjTRvn375O/vn+fP3sfHp9DmVL58eZ05c8buZGCOc725evbsKWdnZy1cuFD//e9/9fjjj9v+pb9Jkyb65Zdf8rwHatSocdWrp4SFhalZs2b6z3/+o4ULF+rxxx+/4vjevXsrJiZG27dvv+K43JN1169fb1uWlZWlzZs3q27dupKk0NBQbdy40S5a169fr9KlS6ty5crX9PMPha9s2bJq166dZs2aZff//N+Fhobq4MGDOnjwoG3ZL7/8otTUVLs/40vfA9Jff8aXrj948KCOHDliW//jjz8W5u6gCNm6datycnI0depU3XXXXapVqxaXqC4EhAWuWalSpRQVFaVRo0YpLi5Ou3btUv/+/e0OLalVq5b69Omjvn376vPPP1diYqI2bdqkSZMmafny5ZL++lfGmJgYbdiwQQkJCXryySfzXLkDxU+fPn1Urlw5de3aVevWrVNiYqJWr16tYcOGGZ+IfanmzZurZMmSevHFF3XgwAEtXLgwz1WKcGOVKlVKDz30kEaPHq0jR46of//+tnUvvPCCNmzYoCFDhig+Pl779u3TV199lefk7csZMGCA3njjDVmWpX/84x9XHDtixAiFh4frvvvu04wZM7Rt2zYlJiZq1apV+uabb2yfmnp5eWnQoEEaNWqUVq5cqV9++UVPPPGEzp07Z7uS1dNPP62DBw9q6NCh2rNnj7766iuNGzdOI0eOlLOz8zX9/MON8e677+rixYtq1qyZFi9erISEBO3du1cff/yx9uzZIxcXF0VERCgsLEx9+vTRtm3btGnTJvXt21etW7e2HXY3atQoRUdHa86cOdq3b5+mTZumzz//XM8995wkKSIiQrVq1VK/fv20Y8cOrVu3Ti+99JIjdx03UI0aNZSVlaWZM2fqt99+00cffaS5c+c6elrFHj8RUSBTpkxRq1at1KVLF0VERKhly5Zq2rSp3Zj58+erb9++evbZZ1W7dm1169ZNmzdvth0GMWbMGDVp0kSRkZFq06aNAgMD+QK+W0DJkiW1du1aValSRQ8++KBCQ0MVFRWlCxcuyNvbu9Cex8/PTx9//LFWrFhhu1Tx+PHjC237uDZRUVE6deqUIiMj7Y5Jb9CggdasWaNff/1VrVq1UuPGjTV27Fi7MVfSu3dvlShRQr17977qpRw9PDwUGxurF154QfPnz1fLli0VGhqq4cOHq0WLFnbflvzGG2+oe/fuevTRR9WkSRPt379fq1atUpkyZSRJlSpV0ooVK7Rp0yY1bNhQTz31lKKiojRmzBjbNq7l5x8KX/Xq1bV9+3ZFRERo9OjRatiwoZo1a6aZM2fqueee0yuvvCInJyd99dVXKlOmjO655x5FRESoWrVqWrx4sW073bp104wZM/TWW2+pXr16+ve//6358+erTZs2kv46zPKLL77Q+fPndeedd2rAgAFckvoW1rBhQ02bNk1vvvmm6tevrwULFvC9N4XAyfr7wcoAADjI77//rurVq2vz5s1q0qSJo6cDACgAwgIA4HBZWVk6ceKEnnvuOSUmJuY5Fh4AUPRxKBQAwOHWr1+vChUqaPPmzRznDADFFJ9YAAAAADDGJxYAAAAAjBEWAAAAAIwRFgAAAACMERYAAAAAjBEWAAAAAIwRFgAAAACMERYAgCIlOTlZQ4cOVbVq1eTu7q6goCB16dJFsbGx1/T41atXy8nJSampqTd2ogAAOyUcPQEAAHL9/vvvatGihXx9fTVlyhSFhYUpKytLq1at0uDBg7Vnzx5HTxEAcBl8QR4AoMjo1KmTdu7cqb1798rLy8tuXWpqqlJTUxUSEqLt27erUaNGtuVlypTR999/r6pVqyokJMTucf369VN0dPRN2gMAuH1xKBQAoEg4efKkVq5cqcGDB+eJCkny9fW96jaCgoL02WefSZL27t2rI0eOaMaMGYU9VQBAPjgUCgBQJOzfv1+WZalOnTrXvQ0XFxf5+flJkvz9/a8pRgAAhYNPLAAARQJH5gJA8UZYAACKhJo1a8rJyemKJ2g7O//119alEZKVlXXD5wYAuDrCAgBQJPj5+SkyMlKzZ8/W2bNn86xPTU1V+fLlJUlHjhyxLY+Pj7cb5+bmJknKzs6+cZMFAORBWAAAiozZs2crOztbd955pz777DPt27dPCQkJeueddxQeHi5PT0/dddddeuONN5SQkKA1a9ZozJgxdtsIDg6Wk5OTli1bpuPHjys9Pd1BewMAtxfCAgBQZFSrVk3btm1T27Zt9eyzz6p+/fpq166dYmNjNWfOHEnSvHnzdPHiRTVt2lTDhw/Xq6++areNSpUqacKECfrXv/6lgIAADRkyxBG7AgC3Hb7HAgAAAIAxPrEAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABgjLAAAAAAYIywAAAAAGCMsAAAAABg7P8Bft+a/uru1K8AAAAASUVORK5CYII=",
      "text/plain": [
       "<Figure size 800x600 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# question 7(Write a Pandas program to create a bar plot of the value_counts for the cut series of\n",
    "# diamonds DataFrame.)\n",
    "import pandas as pd\n",
    "import matplotlib.pyplot as plt # this library is used for data visualization\n",
    "\n",
    "# Calculate the value counts for the 'cut' column\n",
    "cut_counts = df['cut'].value_counts()\n",
    "\n",
    "# Creating a bar plot\n",
    "plt.figure(figsize=(8, 6))  #8inches width ,6 inches height\n",
    "cut_counts.plot(kind='bar', color='skyblue', edgecolor='black')  # kind='bar' specifies creation of a bar plot\n",
    "plt.title('Diamond Cut Counts')  # title of the bar plot\n",
    "plt.xlabel('Cut')  # label for x axis to count\n",
    "plt.ylabel('Count') # label for y axis to count\n",
    "plt.xticks(rotation=0)  \n",
    "\n",
    "\n",
    "plt.tight_layout()  # ensures everything is fit into the defined area\n",
    "plt.show()  \n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "eddded21",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 53940 entries, 0 to 53939\n",
      "Data columns (total 11 columns):\n",
      " #   Column      Non-Null Count  Dtype  \n",
      "---  ------      --------------  -----  \n",
      " 0   Unnamed: 0  53940 non-null  int64  \n",
      " 1   carat       53940 non-null  float64\n",
      " 2   cut         53940 non-null  object \n",
      " 3   color       53940 non-null  object \n",
      " 4   clarity     53940 non-null  object \n",
      " 5   depth       53940 non-null  float64\n",
      " 6   table       53940 non-null  float64\n",
      " 7   price       53940 non-null  int64  \n",
      " 8   x           53940 non-null  float64\n",
      " 9   y           53940 non-null  float64\n",
      " 10  z           53940 non-null  float64\n",
      "dtypes: float64(6), int64(2), object(3)\n",
      "memory usage: 4.5+ MB\n"
     ]
    }
   ],
   "source": [
    "#question 8(Write a Pandas program to print a concise summary of diamonds DataFrame)\n",
    "import pandas as pd\n",
    "\n",
    "diamonds_df = pd.read_csv('diamonds.csv')\n",
    "# using info function to print a concise summary of diamonds dataframe\n",
    "diamonds_df.info()\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "365e5eb6-9196-4ad6-b26c-01913f272835",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.12.0"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}